.explore {
  background-image: url(https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_2600,c_limit/ef1383d1-fb68-4c9c-9bf2-63b34a885236/nike-just-do-it.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  background-position-y: center;
  background-position-x: center;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.explore h3 {
  padding: 1rem;
  color: white;
  text-shadow: 0px 1px black;
}

.hero {
  padding: 2rem;
  background: linear-gradient(wheat, #F3F1E0);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

.hero figure {
  border-radius: 50%;
  overflow: hidden;
  width: 60%;
  height: 75%;
}

.hero figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero .post {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.hero .post h3 {
  font-weight: 600;
}

.hero .post h1 {
  font-weight: 900;
  font-stretch: expanded;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.hero .post p {
  margin-bottom: 2rem;
}

.hero .post button {
  margin-bottom: 2rem;
}

.album {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.album h2 {
  font-weight: 700;
  font-size: x-large;
  padding-bottom: 2rem;
}

.album .slideshow-container {
  position: relative;
}

.album .slideshow-container .slides {
  display: flex;
}

.album .slideshow-container .slides .slide {
  width: 100%;
  height: 100%;
}

.album .slideshow-container .slides .slide figure {
  height: 50vh;
  width: 50vw;
}

.album .slideshow-container .slides .slide figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.album .slideshow-container button {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.feedback {
  padding: 2rem;
  background: linear-gradient(wheat, #F3F1E0);
}

.feedback h2 {
  text-align: center;
  padding: 2rem;
  font-size: x-large;
  font-weight: 700;
}

.feedback .reviews .review {
  margin-bottom: 2rem;
  border: 3px solid white;
  padding: 1rem;
}

.feedback .reviews .review .reviewer{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.feedback .reviews .review .reviewer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.feedback .reviews .review p {
  font-style: italic;
}



@media screen and (min-width: 1024px) {
  .hero {
    padding: 2rem;
    background-color: wheat;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  
  .hero figure {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
  }
  
  .post {
    grid-column: 1;
    grid-row: 1;
    justify-self: end;
  }
}